@import url(styles/header.css);

:root {
    --cor-de-fundo: #FF1493;
    --cor-cabecalho: #FF00FF;

}

body {
    background-color: var(--cor-de-fundo);
    margin: 0;
}

h1 {
    font-weight: normal;
}
